.inputConteiner {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1.2rem;
  div{
    display: flex;
    flex-direction: column;
    label {
      font-size: 0.9375rem;
      color: #1E1E1E;
    }
    input {
      background-color: #D9D9D93D;
      border: 1px solid #BBBBBB;
      border-radius: 0.31rem;
      padding: 5px;
    }
    &:nth-child(2) input {
      height: 5.6875rem;
    }
  }
}