.card_conteiner {
  padding: 0.88rem 2.69rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 20px;
  }
  h1 {
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    max-width: 65vw;

    li {
      padding: 1.56rem 2.18rem;
      width: 295px;
      height: 300px;
      border-radius: 0.75rem;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.034);
      position: relative;
      animation: cardAparece .2s ease;
      &:hover button {
        display: flex;
      }
      h2 {
        border-bottom: 1px solid black;
        color: #1E1E1E;
        margin-bottom: 10px;
      }
      button {
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        height: 35px;
        width: 35px;
        border: none;
        color: #FF5757;
        background-color: #2E2E2E;
        font-size: 1.3rem;
        border-radius: 50%;
        transition: all .2s ease;
        &:hover {
          background-color: #FF5757;
          color: #2E2E2E;
          transform: scale(1.1);
        }
      }
    }
  }
}

@keyframes cardAparece {
  from {
    transform: scale(0) translateX(-10px);
  }

  to {
    transform: scale(1) translateX(0px);
  }
}